body {
  font-family: "Kumbh Sans", sans-serif !important;
  background-color: #bf1363 !important;
}

.App {
  text-align: center;
}

.App > .app-header {
  color: #fff;
  letter-spacing: 0.1rem !important;
  margin: 5px;
  margin-bottom: 20px;
}

.content-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
}
